# Testing Python

In [1]:
print("Hello Lord")

Hello Lord

# Installing Libararies

pip install numpy

pip install pandas

pip install matplotlib

pip install seaborn

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing data sets

In [3]:
birds = pd.read_csv("datasets\\penguins.csv")
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

# Checking null values

In [4]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [5]:
birds.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [6]:
birds.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,344.0,172.500000,99.448479,1.0,86.750,172.50,258.25,344.0
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.50,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.70,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.00,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.00,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.00,2009.0

In [7]:
birds['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

# Adding weight

In [8]:
birds['weight'] = np.round(birds['body_mass_g'] / 1000, 2)
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.00
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.40
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.78
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.10
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.78

# Setting up null values

In [9]:
birds['bill_length_mm'] = birds['bill_length_mm'].fillna(birds['bill_length_mm'].mean())

In [10]:
birds['bill_depth_mm'] = birds['bill_depth_mm'].fillna(birds['bill_depth_mm'].mean())

In [11]:
birds['flipper_length_mm'] = birds['flipper_length_mm'].fillna(birds['flipper_length_mm'].mean())

In [12]:
birds['body_mass_g'] = birds['body_mass_g'].fillna(birds['body_mass_g'].mean())

In [13]:
birds['sex'] = birds['sex'].fillna(birds['sex'].mode()[0])

In [14]:
birds['weight'] = np.round(birds['body_mass_g'] / 1000, 2)
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.75
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.80
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.25
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.20
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.00
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.40
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.78
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.10
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.78

In [15]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
dtype: int64

In [16]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
 9   weight             344 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 27.0+ KB

In [17]:
birds['rowid'] = birds['rowid'].astype('category')
birds['year'] = birds['year'].astype('category')
birds['species'] = birds['species'].astype('category')
birds['island'] = birds['island'].astype('category')
birds['sex'] = birds['sex'].astype('category')

In [18]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
 9   weight             344 non-null    float64
dtypes: category(5), float64(5)
memory usage: 26.9 KB

# Counting stars

In [19]:
adelie = birds[birds['species'] == "Adelie"]
adelie.count()

rowid                152
species              152
island               152
bill_length_mm       152
bill_depth_mm        152
flipper_length_mm    152
body_mass_g          152
sex                  152
year                 152
weight               152
dtype: int64

In [20]:
gentoo = birds[birds['species'] == "Gentoo"]
gentoo.count()

rowid                124
species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
year                 124
weight               124
dtype: int64

In [21]:
chains = birds[birds['species'] == "Chinstrap"]
chains.count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
weight               68
dtype: int64

In [22]:
total = adelie.count() + gentoo.count() + chains.count()

# How many are there in kilos
> I use 5 kilos to see the differences

In [23]:
# 3kgs
g = birds[
    birds['species'] == "Gentoo"
]
g[g['weight'] > 5].count()

rowid                61
species              61
island               61
bill_length_mm       61
bill_depth_mm        61
flipper_length_mm    61
body_mass_g          61
sex                  61
year                 61
weight               61
dtype: int64

In [24]:
# 3kgs
g = birds[
    birds['species'] == "Gentoo"
]
g[g['weight'] < 5].count()

rowid                57
species              57
island               57
bill_length_mm       57
bill_depth_mm        57
flipper_length_mm    57
body_mass_g          57
sex                  57
year                 57
weight               57
dtype: int64

In [25]:
# Unique bird in as