# Testing Python

In [1]:
print("Hello Lord")

Hello Lord

# Installing Libararies

pip install numpy

pip install pandas

pip install matplotlib

pip install seaborn

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing data sets

In [3]:
birds = pd.read_csv("datasets\\penguins.csv")
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

# Checking null values

In [4]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [5]:
birds.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [6]:
birds.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,344.0,172.500000,99.448479,1.0,86.750,172.50,258.25,344.0
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.50,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.70,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.00,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.00,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.00,2009.0

In [7]:
birds['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

# Adding weight

In [8]:
birds['weight'] = np.round(birds['body_mass_g'] / 1000, 1)
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

# Setting up null values

In [9]:
birds['bill_length_mm'] = birds['bill_length_mm'].fillna(birds['bill_length_mm'].mean())

In [10]:
birds['bill_depth_mm'] = birds['bill_depth_mm'].fillna(birds['bill_depth_mm'].mean())

In [11]:
birds['flipper_length_mm'] = birds['flipper_length_mm'].fillna(birds['flipper_length_mm'].mean())

In [12]:
birds['body_mass_g'] = birds['body_mass_g'].fillna(birds['body_mass_g'].mean())

In [13]:
birds['sex'] = birds['sex'].fillna(birds['sex'].mode()[0])

In [14]:
birds['weight'] = np.round(birds['body_mass_g'] / 1000, 2)
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.75
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.80
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.25
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.20
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.00
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.40
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.78
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.10
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.78

In [15]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
weight               0
dtype: int64

In [16]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
 9   weight             344 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 27.0+ KB

In [17]:
birds['rowid'] = birds['rowid'].astype('category')
birds['year'] = birds['year'].astype('category')
birds['species'] = birds['species'].astype('category')
birds['island'] = birds['island'].astype('category')
birds['sex'] = birds['sex'].astype('category')

In [18]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
 9   weight             344 non-null    float64
dtypes: category(5), float64(5)
memory usage: 26.9 KB

# Counting stars

In [19]:
adelie = birds[birds['species'] == "Adelie"]
adelie.count()

rowid                152
species              152
island               152
bill_length_mm       152
bill_depth_mm        152
flipper_length_mm    152
body_mass_g          152
sex                  152
year                 152
weight               152
dtype: int64

In [20]:
gentoo = birds[birds['species'] == "Gentoo"]
gentoo.count()

rowid                124
species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
year                 124
weight               124
dtype: int64

In [21]:
chains = birds[birds['species'] == "Chinstrap"]
chains.count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
weight               68
dtype: int64

In [22]:
total = adelie.count() + gentoo.count() + chains.count()

# How many are there in kilos
> I use 5 kilos to see the differences

In [23]:
# 3kgs
g = birds[
    birds['species'] == "Gentoo"
]
g[g['weight'] > 5].count()

rowid                61
species              61
island               61
bill_length_mm       61
bill_depth_mm        61
flipper_length_mm    61
body_mass_g          61
sex                  61
year                 61
weight               61
dtype: int64

In [24]:
# 3kgs
g = birds[
    birds['species'] == "Gentoo"
]
g[g['weight'] < 5].count()

rowid                57
species              57
island               57
bill_length_mm       57
bill_depth_mm        57
flipper_length_mm    57
body_mass_g          57
sex                  57
year                 57
weight               57
dtype: int64

# Unique bird in

In [25]:
def getPenguin(penguin_name, island):
    return birds[(birds['species'] == penguin_name) & (birds['island'] == island)]

In [26]:
gentoo_dream = getPenguin("Gentoo", "Dream")
gentoo_dream.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              0 non-null      category
 1   species            0 non-null      category
 2   island             0 non-null      category
 3   bill_length_mm     0 non-null      float64
 4   bill_depth_mm      0 non-null      float64
 5   flipper_length_mm  0 non-null      float64
 6   body_mass_g        0 non-null      float64
 7   sex                0 non-null      category
 8   year               0 non-null      category
 9   weight             0 non-null      float64
dtypes: category(5), float64(5)
memory usage: 11.3 KB

In [27]:
gentoo_torg = getPenguin("Gentoo", "Torgersen")
gentoo_torg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              0 non-null      category
 1   species            0 non-null      category
 2   island             0 non-null      category
 3   bill_length_mm     0 non-null      float64
 4   bill_depth_mm      0 non-null      float64
 5   flipper_length_mm  0 non-null      float64
 6   body_mass_g        0 non-null      float64
 7   sex                0 non-null      category
 8   year               0 non-null      category
 9   weight             0 non-null      float64
dtypes: category(5), float64(5)
memory usage: 11.3 KB

In [28]:
gentoo_biscoe = getPenguin("Gentoo", "Biscoe")
gentoo_biscoe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 124 entries, 152 to 275
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              124 non-null    category
 1   species            124 non-null    category
 2   island             124 non-null    category
 3   bill_length_mm     124 non-null    float64
 4   bill_depth_mm      124 non-null    float64
 5   flipper_length_mm  124 non-null    float64
 6   body_mass_g        124 non-null    float64
 7   sex                124 non-null    category
 8   year               124 non-null    category
 9   weight             124 non-null    float64
dtypes: category(5), float64(5)
memory usage: 17.8 KB

# Insight #1
## `Gentoo penguins` are live exclusuively in the `Biscoe island`

In [29]:
adelie_dream = getPenguin("Adelie", "Dream")
adelie_dream.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, 30 to 151
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              56 non-null     category
 1   species            56 non-null     category
 2   island             56 non-null     category
 3   bill_length_mm     56 non-null     float64
 4   bill_depth_mm      56 non-null     float64
 5   flipper_length_mm  56 non-null     float64
 6   body_mass_g        56 non-null     float64
 7   sex                56 non-null     category
 8   year               56 non-null     category
 9   weight             56 non-null     float64
dtypes: category(5), float64(5)
memory usage: 14.2 KB

In [30]:
adelie_torg= getPenguin("Adelie", "Torgersen")
adelie_torg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 0 to 131
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              52 non-null     category
 1   species            52 non-null     category
 2   island             52 non-null     category
 3   bill_length_mm     52 non-null     float64
 4   bill_depth_mm      52 non-null     float64
 5   flipper_length_mm  52 non-null     float64
 6   body_mass_g        52 non-null     float64
 7   sex                52 non-null     category
 8   year               52 non-null     category
 9   weight             52 non-null     float64
dtypes: category(5), float64(5)
memory usage: 14.0 KB

In [31]:
adelie_biscoe = getPenguin("Adelie", "Biscoe")
adelie_biscoe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 20 to 115
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              44 non-null     category
 1   species            44 non-null     category
 2   island             44 non-null     category
 3   bill_length_mm     44 non-null     float64
 4   bill_depth_mm      44 non-null     float64
 5   flipper_length_mm  44 non-null     float64
 6   body_mass_g        44 non-null     float64
 7   sex                44 non-null     category
 8   year               44 non-null     category
 9   weight             44 non-null     float64
dtypes: category(5), float64(5)
memory usage: 13.6 KB

# Insight #2
## `Adelie Penguins` are found in `Dream`, `Biscoe`, and `Torgersen` islands

In [32]:
chins_dream = getPenguin("Chinstrap", "Dream")
chins_dream.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 276 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              68 non-null     category
 1   species            68 non-null     category
 2   island             68 non-null     category
 3   bill_length_mm     68 non-null     float64
 4   bill_depth_mm      68 non-null     float64
 5   flipper_length_mm  68 non-null     float64
 6   body_mass_g        68 non-null     float64
 7   sex                68 non-null     category
 8   year               68 non-null     category
 9   weight             68 non-null     float64
dtypes: category(5), float64(5)
memory usage: 14.9 KB

In [33]:
chins_torg = getPenguin("Chinstrap", "Torgersen")
chins_torg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              0 non-null      category
 1   species            0 non-null      category
 2   island             0 non-null      category
 3   bill_length_mm     0 non-null      float64
 4   bill_depth_mm      0 non-null      float64
 5   flipper_length_mm  0 non-null      float64
 6   body_mass_g        0 non-null      float64
 7   sex                0 non-null      category
 8   year               0 non-null      category
 9   weight             0 non-null      float64
dtypes: category(5), float64(5)
memory usage: 11.3 KB

In [34]:
chins_biscoe = getPenguin("Chinstrap", "Biscoe")
chins_biscoe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              0 non-null      category
 1   species            0 non-null      category
 2   island             0 non-null      category
 3   bill_length_mm     0 non-null      float64
 4   bill_depth_mm      0 non-null      float64
 5   flipper_length_mm  0 non-null      float64
 6   body_mass_g        0 non-null      float64
 7   sex                0 non-null      category
 8   year               0 non-null      category
 9   weight             0 non-null      float64
dtypes: category(5), float64(5)
memory usage: 11.3 KB

# Insight #3
## `Chinstrap Penguins` are exclusively lived in `Dream Island`

In [35]:
adelie_b_avg = np.round(adelie_biscoe['weight'].mean(), 2)
adelie_d_avg = np.round(adelie_dream['weight'].mean(), 2)
adelie_t_avg = np.round(adelie_torg['weight'].mean(), 2)

In [36]:
adelie_b_avg

np.float64(3.71)

In [37]:
adelie_d_avg

np.float64(3.69)

In [38]:
adelie_t_avg

np.float64(3.72)

# Extra
## The island that has the most weight of `Adelie penguin` is `Torgersen`

In [39]:
avg_gentoo = np.round(gentoo['weight'].mean(), 2)
avg_gentoo

np.float64(5.07)

# Insight #4
## The Average weight of `Gentoo penguin` is: `5.07`

In [40]:
avg_adelie = np.round(adelie['weight'].mean(), 2)
avg_adelie

np.float64(3.7)

# Insight #5
## The Average weight of `Adelie penguin` is: `3.7`

In [41]:
avg_chains = np.round(chains['weight'].mean(), 2)
avg_chains

np.float64(3.73)

# Insight #6
## The Average weight of `Chainstrap penguin` is: `3.73`

In [42]:
avg_gentoo == np.max([avg_adelie, avg_chains, avg_gentoo])

np.True_

# Insight #7
## The heaviest penguin among all species is: `Gentoo`

In [43]:
def groupings(cats):
    return birds.groupby(cats)

In [44]:
a = groupings(['species', 'island'])
a.size()

C:\Users\RyannKim327\AppData\Local\Temp\ipykernel_23852\656757947.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return birds.groupby(cats)

species    island
Adelie     Biscoe        44
           Dream         56
           Torgersen     52
Chinstrap  Biscoe         0
           Dream         68
           Torgersen      0
Gentoo     Biscoe       124
           Dream          0
           Torgersen      0
dtype: int64

In [45]:
np.round(a['weight'].mean(), 1)

species    island
Adelie     Biscoe       3.7
           Dream        3.7
           Torgersen    3.7
Chinstrap  Biscoe       NaN
           Dream        3.7
           Torgersen    NaN
Gentoo     Biscoe       5.1
           Dream        NaN
           Torgersen    NaN
Name: weight, dtype: float64

# Insight #8

In [46]:
_a = groupings(['species', 'sex', 'island'])['weight']
np.round(_a.mean().unstack(), 2)

C:\Users\RyannKim327\AppData\Local\Temp\ipykernel_23852\656757947.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return birds.groupby(cats)

island            Biscoe  Dream  Torgersen
species   sex
Adelie    female    3.37   3.34       3.40
          male      4.05   4.01       3.99
Chinstrap female     NaN   3.53        NaN
          male       NaN   3.94        NaN
Gentoo    female    4.68    NaN        NaN
          male      5.41    NaN        NaN

# Insight #9
The `male penguin` is `heavier` than the female penguins

In [47]:
_a = groupings(['species', 'year'])['rowid']
_a.count().unstack()

C:\Users\RyannKim327\AppData\Local\Temp\ipykernel_23852\656757947.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return birds.groupby(cats)

year       2007  2008  2009
species
Adelie       50    50    52
Chinstrap    26    18    24
Gentoo       34    46    44

# Insight #10
The highest recorded Chinstrap was in `2007`

# Insight #11
The highest recorded `Gentoo` was in `2008`

# Use the Correlations

In [48]:
p_bl_corr = birds['bill_length_mm'].corr(birds['bill_depth_mm'])
p_bl_corr

np.float64(-0.23505287035553282)

# Insight #12
Bill length has no correlation with the bill depth

In [49]:
p_bm_bd_corr = birds['body_mass_g'].corr(birds['bill_depth_mm'])
p_bm_bd_corr

np.float64(-0.47191562118606645)

# Insight #13
Body mass has no correlation with the bill depth

In [50]:
p_bm_bl_corr = birds['body_mass_g'].corr(birds['bill_length_mm'])
p_bm_bl_corr

np.float64(0.5951098244376305)

# Insight #14
Body mass has correlation with the bill length

In [51]:
p_bm_f_corr = birds['body_mass_g'].corr(birds['flipper_length_mm'])
p_bm_f_corr

np.float64(0.8712017673060114)

# Insight #15
Body mass has correlation with the flipper length

In [53]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.75
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.80
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.25
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.20
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.00
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.40
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.78
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.10
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.78

# Installation if Science Python

pip install scipy

In [56]:
from scipy.stats import f_oneway

In [59]:
male = birds[birds['sex'] == 'male']['body_mass_g']
male

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
334    3800.000000
336    3950.000000
339    4000.000000
341    3775.000000
342    4100.000000
Name: body_mass_g, Length: 179, dtype: float64

In [60]:
female = birds[birds['sex'] == 'female']['body_mass_g']
female

1      3800.0
2      3250.0
4      3450.0
6      3625.0
12     3200.0
        ...
335    3525.0
337    3650.0
338    3650.0
340    3400.0
343    3775.0
Name: body_mass_g, Length: 165, dtype: float64

In [62]:
f_stats, pvalue = f_oneway(male, female)
pvalue

np.float64(3.0226600487050246e-15)

In [64]:
f_stats

np.float64(68.38476171974526)